@import "../../../Variables.scss";

.dash-board-header {
  background-color: $white-bg;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.dash-board-body {
  background-color: $light-bg;
  box-shadow: inset $box-shadow;
}
