@import "../../Variables.scss";

.carousel-item {
  height: 100vh;

  .carousel-img {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);

    h3,
    p {
      color: $white-text !important;
    }

    .mobile-logo {
      display: none;
    }

    .desktop-logo {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 992px) {
  .carousel-item {
    height: calc(100vh - 5rem);

    .carousel-caption {
      .mobile-logo {
        display: inline-block;
        width: 80%;
      }

      .desktop-logo {
        display: none;
      }
    }
  }
}
