@import "../../../../../Variables.scss";

.users-list {
  background-color: $white-bg;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-align: left;
  margin-bottom: 1rem;

  .header,
  .list {
    padding: 1rem;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;

    .users-count {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    h5 {
      margin: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .users-list {
    .header,
    .list {
      padding: 1rem 2rem;
    }
  }
}
