@import "Variables.scss";

// Reset

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Global styles

::selection {
  background-color: $selection;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $white-bg;
  color: $light-text;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.625rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Text

h1,
h2,
h3,
h4,
h5,
h6,
span.category,
span.author {
  font-family: "Signika", sans-serif;
  color: $medium-dark-bg;
  text-align: left;
}

h1 {
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 3rem;
  margin: 1.225rem 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 1.125rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  margin: 1.025rem 0;
}

h4 {
  font-size: 1.313rem;
  font-weight: 600;
  line-height: 1.563rem;
  margin: 0.925rem 0;
}

h5 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin: 0.825rem 0;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin: 0.725rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
  color: $light-text;
  margin: 0.625rem 0;
  text-align: left;
}

span.category,
span.author {
  display: inherit;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  color: $light-text;
  cursor: pointer;
  transition: $main-transition;

  &:hover {
    color: $primary-color;
  }
}

span.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

small {
  font-size: 0.8rem;
  line-height: 1.025rem;
  color: $light-text;
  margin: 0.625rem 0;
  text-align: left;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: $main-transition;

  &:hover {
    color: $white-text;
  }
}

.nav-link {
  color: $primary-color;
}

.read-more {
  display: inline-flex;
  border: none;
  outline: none;
  padding: 1rem 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  background-color: transparent;
  color: $secondary-color;
  font-weight: 700;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tag {
    border: 1px solid $primary-color;
    outline: none;
    background-color: transparent;
    color: $primary-color;
    padding: 0 1rem;
    font-size: 0.8rem;
    text-transform: lowercase;
    transition: $main-transition;

    &:hover {
      background-color: $primary-color;
      color: $white-text;
    }
  }
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  .icon {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    line-height: 3.063rem;
  }

  h2 {
    line-height: 3.063rem;
  }

  h3 {
    margin: 1.75 0;
  }

  p {
    font-size: 0.938rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  span.category,
  span.author {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .read-more {
    display: flex;
    padding-top: 0;
  }

  span.author {
    justify-content: flex-start;
    padding-bottom: 0;
  }

  .tags {
    margin: 1.5rem 0;
    justify-content: flex-start;
  }

  .section-title {
    justify-content: flex-start;

    .icon {
      display: flex;
      font-size: 2rem;
      color: $primary-color;
    }
  }
}

// Buttons

.button {
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  transition: $main-transition;

  &:hover {
    transform: translateY(-0.05rem);
  }
}

.sm-button {
  font-size: 0.713rem;
  padding: 0.4rem 1.6rem;
  margin: 1rem 1rem 1rem 0;
}

.md-button {
  font-size: 0.813rem;
  padding: 0.8rem 2rem;
  margin: 1rem 1rem 1rem 0;
}

.lg-button {
  font-size: 0.913rem;
  padding: 1.2rem 2.5rem;
  margin: 1rem 1rem 1rem 0;
}

.primary-button {
  background-color: $primary-color;
  color: $white-text;
}

.secondary-button {
  background-color: $secondary-color;
  color: $white-text;
}

.primary-button:hover,
.secondary-button:hover {
  color: $white-text;
}

// Pagination

.posts-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  > div {
    background: $primary-color;
    color: $white-text;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

// Spacing

.container {
  max-width: 1250px !important;
}

section {
  padding: 2.25rem 0;
}

@media screen and (min-width: 992px) {
  section {
    padding: 6.25rem 0;
  }
}

// Forms

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.message {
  h6,
  p {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .form-container {
    label {
      max-width: 500px;
    }
  }
}

// Messages

.error-message {
  padding: 1rem 4rem;
  background-color: $danger-color;
  color: $white-text;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
