$dark-text: #363636;
$light-text: #808285;
$white-text: #fff;

$dark-bg: #2b2b2b;
$medium-dark-bg: #363636;
$light-bg: #f6f5f1;
$white-bg: #ffffff;

$primary-color: #60740a;
$dark-primary-color: #323914;
$light-primary-color: #404916;
$secondary-color: #c7b300;
$accent-color: #8d1baa;

$selection: #dbdbdb;

$success-color: #279d00;
$danger-color: #db3009;
$warning-color: #99a71c;
$border-color: #e1e1e1;

$box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
$box-shadow-alt: 0 5px 15px rgb(0 0 0 / 40%);
$main-transition: ease-in-out .2s;
$border-radius: .125rem;